## Assignment 1: MongoDB
### Negin Baghbanzadeh

This assignment is based on content discussed in Module 2: Introduction to MongoDB

## Learning outcomes

The purpose of this assignment is for learners to be able to:
- Familarize with JSON document syntax
- Understand basic MongoDB CRUD operations
- Understand MongoDB data pipelines to run aggregate queries

In this assignment, you will make use of the sample data provided in Module 2.  

This dataset has 3 collections: Employee, Workplace and Address.  You will import this data into your local MongoDB database.

Required imports for this project are given below.

In [ ]:
!pip -q install "pymongo[srv]"

     |████████████████████████████████| 269 kB 5.5 MB/s

In [ ]:
#required imports
import os
import json
import datetime
import pymongo
import pprint
import pandas as pd
import numpy as np
from pymongo import MongoClient
print('Mongo version', pymongo.__version__)

Mongo version 4.1.1

We first need to connect to MongoDB Atlas Cluster using the connection string. We will use the MongoClient to connect to a local 'test' database that is running on port 27017 (this is the default port).

In [ ]:
# Find connection string on MongoDB Atlas and 
client = pymongo.MongoClient("mongodb+srv://neg:sep@cluster0.19zay.mongodb.net/?retryWrites=true&w=majority") # Replace the connection string here between ""
db = client.assignment1
db

Database(MongoClient(host=['cluster0-shard-00-02.19zay.mongodb.net:27017', 'cluster0-shard-00-01.19zay.mongodb.net:27017', 'cluster0-shard-00-00.19zay.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-13fypf-shard-0', tls=True), 'assignment1')

After installing necessary modules proceed to import the data into your database. The following lines will download the files into your workspace.

In [ ]:
# Download JSON datasets to workplace
!wget -q https://raw.githubusercontent.com/tofighi/BigData/main/datasets/work/Address.json
!wget -q https://raw.githubusercontent.com/tofighi/BigData/main/datasets/work/Employee.json
!wget -q https://raw.githubusercontent.com/tofighi/BigData/main/datasets/work/Workplace.json

In [ ]:
# Let's delete any existing collections in our database
db.workplace.drop()
db.address.drop()
db.employee.drop()

# Import our files into our three collections
with open('Employee.json') as f:
    db.employee.insert_many(json.load(f))
with open('Workplace.json') as f:
    db.workplace.insert_many(json.load(f))
with open('Address.json') as f:
    db.address.insert_many(json.load(f))

#### Question 1 (10 Marks)

The address collection contains employee from different ages and interests.  Perform a simple query to list all employees that are less than or equal to 50 and like Cooking.

__NOTE:__ the following shows the structure of an Employee document that will help you construct the query.

In [ ]:
pprint.pprint(client.assignment1.employee.find_one())

{'_id': '9f39da36-82cc-4353-ab90-d616105fa7c1',
 'address_id': 'b6c0b50a-d0e3-43bf-a2a4-8d4674c2a7e8',
 'age': 40,
 'email': 'ih@ri.ro',
 'firstname': 'Emilie',
 'interests': ['Bowling', 'Cooking', 'Golf', 'Swimming'],
 'lastname': 'Woods',
 'workplace_id': 'a32bf18d-e0e5-48f2-a851-aa49c80f9460'}

In [ ]:
Q1_cursor = client.assignment1.employee.find({"age": {"$lte": 50}, "interests": {"$in":["Cooking"]}})
pd.DataFrame(list(Q1_cursor))

,_id,firstname,lastname,age,email,interests,address_id,workplace_id
0,9f39da36-82cc-4353-ab90-d616105fa7c1,Emilie,Woods,40,ih@ri.ro,"[Bowling, Cooking, Golf, Swimming]",b6c0b50a-d0e3-43bf-a2a4-8d4674c2a7e8,a32bf18d-e0e5-48f2-a851-aa49c80f9460
1,af27265e-6639-49f2-991e-193275a4111a,Thomas,Patterson,18,sug@gon.bf,"[Cooking, Cricket, Tennis, Swimming, Fishing]",64fd714d-e219-4e45-888b-cc2238a8bd0b,5345fcb9-6297-4b9f-aa15-cbee8460f28f
2,00289d48-bad8-4b73-a359-a1a1f05c96e2,Sophia,Flores,22,ra@dupnejuk.nr,"[Hiking, Soccer, Bowling, Rubgy, Cooking, Danc...",8a430805-00b8-40a6-bd93-c950b544a83b,b12cd444-e65b-4bc2-8cf6-2dbe854a627b
3,da76e52b-b3db-4fc0-b0d6-435d1aed0cd9,Ollie,Barnett,25,ro@nemaw.et,"[Cooking, Bowling, Dancing]",5d3eacc4-d1d8-459b-973c-3bc71feacf50,cb795afb-8dc3-482f-b3a0-14229a280afa
4,51643cd6-49bb-45d5-bd6e-717c62bb2869,James,Wilkins,27,hutfardu@vicbiri.gb,"[Rubgy, Tennis, Cricket, Cooking]",3f10d9f7-57ef-40e1-a97d-d2ee53aa2c6e,cb795afb-8dc3-482f-b3a0-14229a280afa
5,f073a705-6546-4375-adb5-b224871776ef,Aaron,Carr,25,fekegim@lucul.tp,[Cooking],f4e59d7e-ea40-442d-87be-106e3c46a554,b2a2844d-aeab-4602-b74c-01bf3b8e9c78
6,457ef68c-9651-4925-bca0-15e246661d19,Alta,Sharp,34,jus@goal.bn,"[Cricket, Cycling, Rubgy, Golf, Cooking, Dancing]",5e97658e-5809-41b8-a088-eddbd81f86a7,b2a2844d-aeab-4602-b74c-01bf3b8e9c78
7,840184a3-4c4d-4b15-8813-30fca6e7827b,Delia,Douglas,36,me@wak.ne,"[Cricket, Cooking, Hiking, Dancing, Tennis]",456e18ae-c2f8-443e-899d-f2b893499695,b2a2844d-aeab-4602-b74c-01bf3b8e9c78
8,6157dc3b-ee2d-463a-b62b-1cd4eed7d575,Dominic,Wade,48,co@pog.nz,"[Cycling, Dancing, Cooking]",8d162eb9-eefc-4b7e-bcad-6fb7a02b15b0,cb795afb-8dc3-482f-b3a0-14229a280afa
9,cc3e389d-be0d-467a-ba70-7c84f6504911,Myrtle,Little,36,saj@far.zm,"[Cooking, Cycling, Hiking, Rubgy, Bowling, Dan...",0d3a90d5-11bd-4f96-91ba-7e7ef80888f0,2b87eb84-e5b4-4f2c-9e13-dc3ba20a7f7f
10,c2bf0e3f-e3de-41de-b745-c5b70571dd3a,Jordan,Roberson,29,co@mahdo.ca,"[Swimming, Cooking]",7edd78a4-c4e6-484a-bf2f-ecad5c4c506b,cb795afb-8dc3-482f-b3a0-14229a280afa
11,4bc070ca-f849-4eeb-8ab2-98fe3c0861c0,Francis,Harris,38,pa@sodej.ck,"[Dancing, Swimming, Cooking, Bowling, Cycling]",fc607f68-81c8-4ca8-8a9e-30239ccae40f,2b87eb84-e5b4-4f2c-9e13-dc3ba20a7f7f
12,66894dba-4ff0-4545-b7cc-eb6a5bd551c5,Clara,Butler,49,do@womjip.by,"[Soccer, Cooking, Cycling]",4dcebe6e-0787-4158-9744-3d721098cec4,50275ad1-8140-4e79-8818-21793e3eb0a3
13,581f59a2-ff4c-407e-b58f-e4f292208928,Rena,Johnson,33,vasberet@his.nz,"[Cycling, Swimming, Soccer, Cooking]",1cf24906-c700-41bb-a4c8-bba3c3ae30d9,2b87eb84-e5b4-4f2c-9e13-dc3ba20a7f7f
14,b2a2ae86-f4f6-4da5-ade6-ee1cd135daf3,Gavin,Conner,49,ah@jopah.uz,"[Rubgy, Cooking, Bowling]",ef5a17a2-6f11-49b8-a0fd-e0bddc56f185,50275ad1-8140-4e79-8818-21793e3eb0a3
15,2bfc0479-cb15-46e1-94fa-801404791b21,Peter,Jimenez,37,usope@tega.bh,"[Cooking, Swimming, Cricket]",77ce0c50-afd6-47e8-86d7-b1b372e8deb2,cb795afb-8dc3-482f-b3a0-14229a280afa

#### Question 2  (10 Marks)

Insert a new Employee with the following properties:

* First Name: Jake 
* Last Name: Sample
* Email: jakesample@email.com
* Age: 26
* Interest: Biking, Hiking

Also, this employee works for 'Union Planters Corp' and lives at '573 Wojhas Square, Victoria'.
Verify that the insert succeeded and display the generated employees _id attribute.

__HINT__ An Employee document references a Workplace and Address document

In [ ]:
# First, we're going to find the address ID and the workplace ID of the given information
Jake_address = client.assignment1.address.find_one({"address":{"$eq":"573 Wojhas Square"}, "city":{"$eq":"Victoria"}})
pprint.pprint(Jake_address)

{'_id': '91b5b7b3-2309-4e8a-8247-cd66d626ef0c',
 'address': '573 Wojhas Square',
 'city': 'Victoria',
 'postalcode': 'A7D 5A3',
 'province': 'BC'}

In [ ]:
Jake_workplace = client.assignment1.workplace.find_one({"name":{"$eq":"Union Planters Corp"}})
pprint.pprint(Jake_workplace)

{'_id': '5345fcb9-6297-4b9f-aa15-cbee8460f28f',
 'address_id': '9949fe3b-99ec-4485-b91d-823925db7d28',
 'industry': 'Aerospace',
 'name': 'Union Planters Corp',
 'website': 'http://www.unionplanternscorp.com'}

In [ ]:
# Now that we have all the attributes that we need to add a new employee, we can call the insert_one function
new_employee = db.employee.insert_one({
      'address_id': Jake_address['_id'],
      'age': 26,
      'email': 'jakesample@email.com',
      'firstname': 'Jake',
      'interests': ['Biking', 'Hiking'],
      'lastname': 'Sample',
      'workplace_id': Jake_workplace['_id']
    })

In [ ]:
# Find the employee with the new_employee.inserted_id
pd.DataFrame(list(db.employee.find({"_id": {"$eq": new_employee.inserted_id}})))

,_id,address_id,age,email,firstname,interests,lastname,workplace_id
0,62a843775e7ee3aa29458d8e,91b5b7b3-2309-4e8a-8247-cd66d626ef0c,26,jakesample@email.com,Jake,"[Biking, Hiking]",Sample,5345fcb9-6297-4b9f-aa15-cbee8460f28f

#### Question 3 (10 Marks)

Delete all employees that work for 'Great Plains Energy Inc.' and are greater than 46 years old and likes 'Tennis'.  Once you delete the employees verify the number of employees deleted.

In [ ]:
# We need to find the workplace's ID first
GreatPlainsEnergyInc_workplace = client.assignment1.workplace.find_one({"name":{"$eq":"Great Plains Energy Inc."}})
pprint.pprint(GreatPlainsEnergyInc_workplace)

{'_id': 'a32bf18d-e0e5-48f2-a851-aa49c80f9460',
 'address_id': 'c35b4c7f-b7de-431d-bd60-4026490cd61c',
 'industry': 'Agriculture',
 'name': 'Great Plains Energy Inc.',
 'website': 'http://www.greatplainsenergy.com'}

In [ ]:
delete_result = db.employee.delete_many({"workplace_id" : {"$eq":GreatPlainsEnergyInc_workplace['_id']},
                                         "age" : {"$gt": 46}, 
                                         "interests" : {"$in": ["Tennis"]}})

In [ ]:
print("Delete Acknowledged:" + str(delete_result.acknowledged))
print("Delete Count:" + str(delete_result.deleted_count))

Delete Acknowledged:True
Delete Count:4

#### Question 4 (12 Marks)
Add a new field called 'industry' to all **employees** that work for 'Health Net Inc.'.

__HINT__ All a new field to a document is like updating the document

In [ ]:
# We need to find the workplace's ID first
HealthNetInc_workplace = client.assignment1.workplace.find_one({"name":{"$eq":"Health Net Inc."}})
pprint.pprint(HealthNetInc_workplace)

{'_id': 'a222385c-342c-43ea-adbc-9b487a2ee2be',
 'address_id': '1ed298fc-20ab-4750-ac38-fed1e60964af',
 'industry': 'Construction',
 'name': 'Health Net Inc.',
 'website': 'http://www.healthnetinc.com'}

In [ ]:
# For each emplyee that it's workplace_id is the founded ID, set(add new field) the 'industry' to 'Health Care'
update_result = db.employee.update_many(
      { "workplace_id" : HealthNetInc_workplace['_id'] },
      { "$set": { "industry" : "Health Care" } }
);

In [ ]:
print("Update Acknowledged:" + str(update_result.acknowledged))
print("Modified Count:" + str(update_result.modified_count))

Update Acknowledged:True
Modified Count:14

#### Question 5 (10 Marks)

Create an aggregate query to count the number of employees for each company and sort the output from largest employee count to lowest employee count.

__NOTE__ you will use a pipeline to achieve the computed result.  You should produce a result similar to the following table (the following table contains fake data)
<table>
    <tr><th></th><th>_id</th><th>count</th></tr>
    <tr><td>0</td><td>[Equity Residential Properties Trust]</td><td>19</td></tr>
    <tr><td>...</td><td>...</td><td>...</td></tr>
    <tr><td>7</td><td>[Bell Microproducts Inc.]</td><td>6</td></tr>
    <tr><td>8</td><td>[Kemet Corp.]</td><td>1</td></tr>
</table>

__HINT__ you should make use of the \\$lookup, \\$group and \\$sort pipeline operations

In [ ]:
pipeline = [
    # First we add a new column called workplace to employee, to store the workplace information of each employee
    {"$lookup": 
     { 
        "from": "workplace",
        "localField": "workplace_id",
        "foreignField": "_id",
        "as": "workplace"
     }
    },
    # Group all the employees by their workplace and count the employees in each workplace
    {"$group":
      {
        "_id": "$workplace.name",
        "count": {"$sum": 1}
      }
     },
     # Sort the count field descending
    {"$sort":
      {
         "count": -1
      }
    }
]
query_result = list(db.employee.aggregate(pipeline))
pd.DataFrame(list(query_result))

                                     _id  count
0                     [Hilton Solutions]     15
1                      [Health Net Inc.]     14
2                           [Aetna Inc.]     13
3              [Bell Microproducts Inc.]     11
4                  [Union Planters Corp]     10
5       [Equity Office Properties Trust]     10
6  [Equity Residential Properties Trust]      7
7                          [Kemet Corp.]      6
8                        [Xcel Bear Inc]      6
9             [Great Plains Energy Inc.]      5